.pdfslide .slick-arrow.slick-next:before {
  content: "";
}

.pdfslide .slick-arrow.slick-prev:before {
  content: "";
}
.pdfslide .slick-dots {
  bottom: -45px;
}

.slick-dots li button:before {
  color: #ff867a;
}

.slick-dots li.slick-active button:before {
  color: #ff867a;
}

@media (max-width: 540px) {
  .pdfslide .slick-dots {
    bottom: -60px;
  }
}
