.T-main-container {
  background: linear-gradient(0deg, #ffb4b0, #f7938e, #ffe9e8);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 19s ease infinite;
  -moz-animation: AnimationName 19s ease infinite;
  animation: AnimationName 19s ease infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.T-detail-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
  line-height: 150%;
  text-align: center;
  max-width: 750px;
  margin-top: 10px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 54% 0%;
  }

  50% {
    background-position: 47% 100%;
  }

  100% {
    background-position: 54% 0%;
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 54% 0%;
  }

  50% {
    background-position: 47% 100%;
  }

  100% {
    background-position: 54% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 54% 0%;
  }

  50% {
    background-position: 47% 100%;
  }

  100% {
    background-position: 54% 0%;
  }
}
