.icon {
    color: aliceblue;
    transition: all 0.5s ease;
}


.list:hover .arrow {
    animation: arrowIconHoverAnimation 0.5s ease;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF7062;
    /* Change this to the color you want */
    transition: width 0.3s ease;
    /* Adjust the duration and easing as needed */
}

.link:hover .underline {
    width: 100%;
}

@keyframes arrowIconHoverAnimation {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-4px);
    }

    75% {
        transform: translateX(3px);
    }

    100% {
        transform: translateX(0);
    }
}