@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(https://db.onlinewebfonts.com/c/e3d4d88f7ba46cfbdfb4045368826129?family=Visby+Regular);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

:root {
  --primary-accent: #FF867A;
  --secondary-accent: #374852;
  --background-color: #ffffff;
  --background-color-2: #F5F5F7;
  --primary-black: #2C2C2C;
  --secondary-black: #4D4D4D;
  --tertiary-black: #7A7A7A;
  --width: 1440px;
  --ct-margin: 40px;
  --pct-margin-top: 40px;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Visby Regular";

}


body {
  color: rgb(var(--foreground-rgb));
  font-family: "Visby Regular";
  position: relative;
}

.container-margin {
  width: var(--width);
  max-width: calc(100% - var(--ct-margin));
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  width: var(--width);
  max-width: calc(100% - var(--ct-margin));
  margin-top: var(--pct-margin-top);

  margin-left: auto;
  margin-right: auto;
}



@media screen and (min-width: 540px) {
  :root {
    --ct-margin: 60px;
    --pct-margin-top: 65px;
  }
}

@media screen and (min-width: 768px) {
  :root {

    --pct-margin-top: 70px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --ct-margin: 100px;
    --pct-margin-top: 75px;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --ct-margin: 130px;
    --pct-margin-top: 80px;
  }
}